# Exemple de configuration - Copiez ce fichier en .env.local et modifiez les valeurs

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=your_secret_key_here
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://root:root@mysql:3306/app?serverVersion=8.0"
###< doctrine/doctrine-bundle ###

###> symfony/mailer ###
MAILER_DSN=smtp://mailpit:1025
###< symfony/mailer ###
